.inventory {
  border: none;
}
.inventory-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 1px;
    border: 8px solid transparent;
    background: linear-gradient(60deg, #5cd08a, rgba(116, 134, 15, 0) 100%);
}
.btn-update {
  background-color: #162220;
  border: none;
}
.btn-update:hover,
.btn-update:focus,
.btn-update:active,
.btn-update.active,
.open > .dropdown-toggle.btn-update {
  background-color: #276a67;
}
