.text-style{
    color: black;
}
.title{
    font-size: 25px;
    background: -webkit-linear-gradient(rgb(122, 245, 225), rgb(114, 167, 134));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}