.parallax {
    /* The image used */
    background-image: url("../../../images/banner.png");
  
    /* Full height */
    height: 100vh;
  
    /* Create the parallax scrolling effect */
    position: relative;
    opacity: 0.9;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner-title{
    position: absolute;
    border:5px solid white;
    font-size: 40px;
    z-index: 1;

    right:25%;
    top: 50%;
    width: 50%;
    text-align: center;
    color: rgb(0, 0, 0);
  }